- Do NOT translate the texts on the left-hand side, only the ones on the right.
  Example: Translate "Event Editor", NOT "eventEditorTitle"
- Keep all capitalization in phrases (if the first word is capitalized, keep it that way)
- Keep all punctuation (if there is a period at the end of a phrase, keep it there. If there isn't, don't add one etc.)
- Keep all brackets, parentheses and quotation marks.
- The ___ 's just mean that there is a number or something before the phrase, it is just so you can understand the context.
  Example:  "___ is not a number!" just means that when the actual message is printed out, something will be put in place of the ___,
            so keep that in mind when you are translating.